body {
    margin: 150px;
    max-inline-size: 1200px; 
    
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
}

main, footer, nav, article, textarea {
border: black 10px