body {
    text-align: end;
    margin: 150px;
    max-inline-size: 1200px; 
    

.public-sans-<uniquifier> {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}
